/* Убираем отступы по умолчанию */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
}

header {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  position: relative;
  z-index: 0;
  padding-top: 30px;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: 1;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 250px;
  margin-right: 250px;
  z-index: 2;
}

.header__logo img {
  width: 180px;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 10px;
 }

.header__nav a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Regular";
  font-size: 13px;
  font-weight: normal;
  text-decoration-line: none;  
  margin-left: 30px;
}


.header__title {
  position: relative;
  z-index: 2;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header__title h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 45px;
  line-height: 1.5;
}

.trends {
  width: 100%;
  margin: 60px 0 60px 0;
}

.trends h2, .shop h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
}

.trends h2::after, .shop h2::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.trends__articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trends__article {
  width: 25%;
  padding: 280px 16px 16px 16px;
  margin-left: 1em;
}

.trends__article:nth-child(1) {
  margin-left: 0;
}

.art1 {
  background-image: url(../img/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.art2 {
  background-image: url(../img/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.art3 {
  background-image: url(../img/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.art4 {
  background-image: url(../img/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.trends__article::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.trends__article h3 {
  text-transform: uppercase;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
}

.trends__article a {
  text-decoration: none;
  color: #ffffff;
}

.trends__tag, .main__tag {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.trends__tag li:nth-child(n+2), .main__tag li:nth-child(n+2) {
  margin-left: 15px;
}

.trends__tag a, .main__tag a {
  color: #b59f5b;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  text-decoration-line: none;
}

.trends__info {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 2;
  border: 3px solid #8a701f;
  padding: 30px 16px 16px 16px;
}

.main {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1170px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}


.main__articles {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 60px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main__article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main__img {
  display: flex;
  margin-right: 40px;
  background-color: #f4f7f6;
  width: 50%;
  max-width: 380px;
}

.main__img img {
  width: 100%;
  float: left;
  /*height: auto;*/
  object-fit: cover;
}

.main__decription {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main__decription h2 {
  text-transform: uppercase;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.25em;
}

.main__title a {
  text-decoration-line: none;
  color: #0f0d0e;
}

.main__date-author {
  display: flex;
  margin-bottom: 40px;
}

time {
  margin-right: 15px;
  color: #888888;
  font-family: "Open Sans Regular";
  font-size: 12px;
}

.main__date-author span {
  color: #000000;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 12px;
}

.main__decription p {
  color: #000000;
  font-family: "Open Sans Regular";
  font-size: 15px;
  line-height: 1.6; 
}

.aside h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
}

.aside h2::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.aside__new-posts {
  margin-bottom: 40px;
}

.aside__new-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.aside__img {
  display: flex;
  width: 24%;
  margin-right: 25px;
}

.aside__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.aside__description {
  width: 76%;
}

.aside__description a {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  line-height: 1.2;
}

.aside__search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.aside__search input {
  height: 50px;
  width: 90%;
  border: none;
  background-color: #f4f7f6;
  font-family: "Open Sans Regular";
  font-size: 13px;
  padding: 10px;
}

.aside__search button {
  width: 10%;
  min-width: 50px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.aside__search img {
  width: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside__mailing {
  margin-bottom: 60px;
}

.aside__mailing form {
  display: flex;
  flex-direction: column;
}

.aside__mailing input {
  height: 50px;
  border: none;
  background-color: #f4f7f6;
  font-family: "Open Sans Regular";
  font-size: 13px;
  margin-bottom: 15px;
  padding: 10px;
}

.aside__mailing button {
  height: 50px;
  border: none;
  background-color: #b59f5b;
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.aside__tags {
  margin-bottom: 40px;
}

.aside__tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.aside__tags li {
  margin-right: 10px;
  margin-bottom: 20px;
}

.aside__tags a {
  font-family: "Open Sans";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #0f0d0e;
  border: 2px solid #eeeeee;
  padding: 4px 10px;
}

.aside__themes ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.aside__themes li {
  border-bottom: 1px solid #eee;
  font-family: "Open Sans";
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.aside__themes a {
  text-decoration: none;
  color: #000000;
}

.aside__themes span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
  margin-left: 5px;
}

/* Сделать картинки через тег picture для разных устройств*/

.shop {
  margin-bottom: 60px;
  width: 80%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.shop__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop__cards article {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.shop__cards article:nth-child(n + 2) {
  margin-left: 45px;
}

.shop__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Выровнять рамку по нижнему краю*/

.container {
  border: 3px solid #8a701f;
  margin: -30px -20px;
  padding: 30px 30px;
}

.shop__description h3 {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 15px;
}

.title a {
  color: #0f0d0e;
  text-decoration-line: none;
}

.shop__description p {
  margin-bottom: 25px;
  font-family: "Open Sans Regular";
  font-size: 15px;
  font-weight: normal;
  color: #0f0d0e;
  display: inline;
}

.text a {
  color: #8a701f;
  text-decoration-line: none;
  display: inline;
}

.shop__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop__buy span {
  color: #0f0d0e;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
}

.shop__button {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 800;
  border: none;
  background-color: #b59f5b;
  padding: 10px 15px;
  text-align: center;
}

.shop__button a {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 700px;
  width: 80%;
  max-width: 1170px;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

.footer__icons {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.footer__icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__icon {
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__icons li:nth-child(n+2) {
  margin-left: 15px;
}

.twitter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.footer__icons span {
  visibility: hidden;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin: 70px 0 45px 0;
}

.footer__copyright a {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 100;
  color: #999999;
  text-decoration: none;
}


/* body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 2;
} 

.popup_hidden {
  display: none;
  width: 390px;
  min-height: 590px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  top: calc((100% - 590px)/2); left: 0; bottom: calc((100% - 590px)/2); right: 0;
  z-index: 999;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.popup-close {
  border: none;
  background-image: url("../svg/form-x.svg");
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0; right: 0;
  text-indent: -9999px;
}

.popup-title {
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.popup-title span::after {
  content: "";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.popup-form-1 div, .popup-form-3 div {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Open Sans Regular;
  font-size: 13px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.popup-form-1-title, .popup-form-2-title, .popup-form-3-title {
  font-family: Open Sans Regular;
  font-size: 13px;
  color: #000000;
  padding-bottom: 10px;
}

.select {
  font-family: Open Sans Regular;
  font-size: 13px;
  color: #939594;
  padding: 20px 20px;
  border: none;
  background-color: #f4f7f6;
  margin-bottom: 35px;
  width: 100%;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 10px;
  
}

.select:focus {
  border-bottom: #b59f5b 1px solid;
  outline: none;
}

.popup-form-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup-form-2-circles {
  display: inline-block;
  margin-bottom: 35px;
  font-family: Open Sans Regular;
  font-size: 13px;
  color: #000000;
}

.popup-form-2-circle-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
  }

.popup-form-2-circle-radio:checked ~ .popup-form-2-circle-text::before {
    background-image: url("../svg/form-circle.svg");
}
  
.popup-form-2-circle-radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    width: 1px; 
}

.popup-form-3 textarea {
  font-family: Open Sans Regular;
  font-size: 13px;
  color: #000000;
  padding: 20px 20px;
  border: none;
  background-color: #f4f7f6;
  margin-bottom: 35px;  
  width: 330px;
  resize: vertical;
}

.popup-form-3 textarea:focus {
  border-bottom: #b59f5b 1px solid;
  outline: none;
}

.popup-button {
  width: 330px;
  height: 50px;
  background-color: #b59f5b;
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  margin-left: auto;
  margin-right: auto;
} */

/*
@media (min-width: 641px) and (max-width: 1199px) {
  .menu {
    display: none;
  }

  header {
    width: 100%;
    min-width: 641px;
    max-width: 1199px;
  }

  .page {
    width: 100%;
    min-width: 641px;
    max-width: 1199px;
    margin-left: auto;
    margin-right: auto;
  }

  .trends-articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .trend {
    width: 50%;
    margin-bottom: 5px;
    box-sizing: border-box;
  }

  .trend:nth-child(2n+2) {
    margin-left: 5px;
  }
 
  .trend-title-article a {
    font-size: 17px;
  }

}

@media (max-width: 640px) {
  header {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
  }

  .menu {
    display: none;
  }

  .page {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .trends-title h2, .cards-section-title h2, .aside-title h3 {
    font-size: 16px;
  }

  .trends-articles {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
 
  .trend-title-article a {
    font-size: 16px;
  }

}
